body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 0;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #575757;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container {
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1000px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    width:50%;
    display:inline-block;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}