<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Create Customer</title>
</head>

<body>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Accueil</a></li>
            <li class="nav-item"><a href="/create_customer">Créer un client</a></li>
            <li class="nav-item"><a href="/model">Modèle</a></li>
            <li class="nav-item"><a href="/housing_list">Modèle Liste</a></li>
            <li class="nav-item"><a href="/help">Aide</a></li>
        </ul>
    </nav>
    <h1 style="margin-top: 50px; text-align: center;"> En cours de construction </h1>
</body>

</html>