<!-- templates/navbar.html -->
<nav class="navbar">
    <ul class="nav-list">
        <!-- <li class="nav-item"><a href="{{ url_for('list_customers') }}">Accueil</a></li>
        <li class="nav-item"><a href="/edit_customer/#">Modifier Informations</a></li>
        <li class="nav-item"><a href="{{ url_for('customer') }}">Détail Customer</a></li>
        <li class="nav-item"><a href="{{ url_for('create_customer') }}">Créer un client</a></li>
        <li class="nav-item"><a href="{{ url_for('help') }}">Aide</a></li> -->
    </ul>
</nav>

<!--
<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a href="/">Accueil</a></li>
        <li class="nav-item"><a href="/edit_customer/#">Modifier Informations</a></li>
        <li class="nav-item"><a href="/customer/#">Détail Customer</a></li>
        <li class="nav-item"><a href="/create_customer">Créer un client</a></li>
        <li class="nav-item"><a href="help">Aide</a></li>
    </ul>
</nav>
-->